.player {
    display: flex;
    align-items: center;

    span{
        font-size: 24px;
        margin-left: 16px;
        color: rgb(255, 255, 255);
    }

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position:top;
    }
}