.player {
    display: flex;
    align-items: center;
    z-index: 2;
    background-color: rgba(233, 233, 233, 0.568);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top: solid 5px rgb(230, 42, 255);
    border-bottom: solid 5px rgb(230, 42, 255);
    border-left: solid 5px rgb(230, 42, 255);
    
    span{
        font-size: 24px;
        margin-left: 16px;
        color: rgb(255, 255, 255);
        width: 150px;
        text-align: left;
        display: none;
    }
    
    img{
        width: 80px;
        height: 80px;
        border-radius: 50px;

        object-fit: cover;
        object-position:top;
    }
}

.player-active {
    span{
        display: block;
    }
}